{{define "title"}}Mail {{.message.Id}} :: Gleez SMTPD{{end}}

{{define "script"}}
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/incus.js"></script>
	<script src="/public/js/notify.js"></script>
{{end}}

{{define "menu"}}
	<li><a href="/">Home</a></li>
	<li><a href="/status">Status</a></li>
	<li class="active"><a href="/mails">Inbox <span id="NewMail" class="badge"></span></a></li>
{{end}}

{{define "content"}}
	<div id="MailBody" class="col-md-12">
		{{$id := .message.Id}}
		<div class="page-header">
			<h2>{{.message.Subject }}
				{{if .ctx.User.IsSuperuser}}
					<a class="btn btn-danger pull-right" href="/mail/delete/{{$id}}"><i class="glyphicon glyphicon-trash"></i></a>
				{{end}}
			</h2>
		</div>
		<dl class="dl-horizontal">
			<dt>From</dt>
			<dd>
				{{.message.From.Mailbox }}@{{.message.From.Domain }}
				{{if .ctx.User.IsSuperuser }}
					<a id="AddToGreylist" href="/greylist/mailfrom/{{$id}}"><i class="glyphicon glyphicon-thumbs-up"></i></a>
				{{end}}
			</dd>
			<dt>To</dt>
			<dd>{{range .message.To}} {{.Mailbox }}@{{.Domain }} {{end}}</dd>
			<dt>Date</dt>
			<dd>{{.message.Created}}</dd>
			<dt>Client IP</dt>
			<dd>{{.message.Ip}}</dd>
		</dl>
	</div>

	<div class="col-md-12">
		{{if .message.Attachments }}
			<ul class="nav nav-pills">
				{{range $e := .message.Attachments }}
					{{if $e.FileName }}
						<li class="active"><a href="/mail/attachment/{{$e.Id}}/{{$e.FileName}}" target="_blank">{{$e.FileName}}</a></li>
					{{end}}
				{{end}}
			</ul>
		{{end}}
	</div>

	<div class="clearfix"></div>

	<div class="col-md-12">
		<br>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#htmlmsg" role="tab" data-toggle="tab">HTML</a></li>
			<li><a href="#textmsg" role="tab" data-toggle="tab">Plain Text</a></li>
			<li><a href="#headers" role="tab" data-toggle="tab">Headers</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="htmlmsg"><br>{{.message.Content.HtmlBody | htmlSafe}}</div>
			<div class="tab-pane" id="textmsg"><br>{{.message.Content.TextBody | textToHtml}}</div>
			<div class="tab-pane" id="headers">
				<div class="well">
					{{range $index, $element := .message.Content.Headers}}
						{{$index}} : {{index $element 0 | textToHtml}}<br>
					{{end}}
				</div>
			</div>
		</div>
	</div>

{{end}}