{{ define "title" }}SMTPD - Signup{{ end }}

{{define "script"}}
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/common.js"></script>
{{end}}

{{define "menu"}} {{ end }}

{{ define "content" }}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				{{ range .ctx.Session.Flashes }}
					<div class="alert alert-danger" role="alert">{{ . }}</div>
				{{ end }}
				<form action="{{ reverse "Register" }}" method="POST" role="form">
					<h2>Please Sign Up <small>It's free and always will be.</small></h2>
					<hr class="colorgraph">

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="firstname" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" required>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="lastname" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="3" required>
					</div>

					<div class="form-group">
						<input type="text" name="username" id="username" class="form-control input-lg" placeholder="User Name" tabindex="4" required>
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" required>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<span class="button-checkbox">
								<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
								<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1" checked="checked" required>
							</span>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9">
							By clicking <strong class="label label-primary">Register</strong>, you agree to the Terms and Conditions set out by this site, including our Cookie Use.
						</div>
					</div>
					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-6 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
						<div class="col-xs-6 col-md-6"><a href="{{ reverse "Login" }}" class="btn btn-success btn-block btn-lg">Sign In</a></div>
					</div>
				</form>
			</div>
		</div>
	</div>
{{ end }}