{{define "title"}}Status :: Gleez SMTPD{{end}}

{{define "script"}}
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/incus.js"></script>
	<script src="/public/js/notify.js"></script>
{{end}}

{{define "menu"}}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/status">Status</a></li>
	<li><a href="/mails">Inbox <span id="NewMail" class="badge"></span></a></li>
{{end}}

{{define "content"}}
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">System Monitor Status</h3>
  		</div>
		<div class="panel-body">
			<dl class="dl-horizontal status-dl-horizontal">
				<dt>Server Uptime</dt>
				<dd>{{.SysStatus.Uptime}}</dd>

				<dt>Current Goroutines</dt>
				<dd>{{.SysStatus.NumGoroutine}}</dd>

				<hr/>
				<dt>Current Memory Usage</dt>
				<dd>{{.SysStatus.MemAllocated}}</dd>

				<dt>Total Memory Allocated</dt>
				<dd>{{.SysStatus.MemTotal}}</dd>

				<dt>Memory Obtained</dt>
				<dd>{{.SysStatus.MemSys}}</dd>

				<dt>Pointer Lookup Times</dt>
				<dd>{{.SysStatus.Lookups}}</dd>

				<dt>Memory Allocate Times</dt>
				<dd>{{.SysStatus.MemMallocs}}</dd>

				<dt>Memory Free Times</dt>
				<dd>{{.SysStatus.MemFrees}}</dd>

				<hr/>
				<dt>Current Heap Usage</dt>
				<dd>{{.SysStatus.HeapAlloc}}</dd>

				<dt>Heap Memory Obtained</dt>
				<dd>{{.SysStatus.HeapSys}}</dd>

				<dt>Heap Memory Idle</dt>
				<dd>{{.SysStatus.HeapIdle}}</dd>

				<dt>Heap Memory In Use</dt>
				<dd>{{.SysStatus.HeapInuse}}</dd>

				<dt>Heap Memory Released</dt>
				<dd>{{.SysStatus.HeapReleased}}</dd>

				<dt>Heap Objects</dt>
				<dd>{{.SysStatus.HeapObjects}}</dd>

				<hr/>
				<dt>Bootstrap Stack Usage</dt>
				<dd>{{.SysStatus.StackInuse}}</dd>

				<dt>Stack Memory Obtained</dt>
				<dd>{{.SysStatus.StackSys}}</dd>

				<dt>MSpan Structures Usage</dt>
				<dd>{{.SysStatus.MSpanInuse}}</dd>

				<dt>MSpan Structures Obtained</dt>
				<dd>{{.SysStatus.HeapSys}}</dd>

				<dt>MCache Structures Usage</dt>
				<dd>{{.SysStatus.MCacheInuse}}</dd>

				<dt>MCache Structures Obtained</dt>
				<dd>{{.SysStatus.MCacheSys}}</dd>

				<dt>Profiling Bucket Hash Table Obtained</dt>
				<dd>{{.SysStatus.BuckHashSys}}</dd>

				<dt>GC Metadada Obtained</dt>
				<dd>{{.SysStatus.GCSys}}</dd>

				<dt>Other System Allocation Obtained</dt>
				<dd>{{.SysStatus.OtherSys}}</dd>

				<hr>
				<dt>Next GC Recycle</dt>
				<dd>{{.SysStatus.NextGC}}</dd>

				<dt>Since Last GC Time</dt>
				<dd>{{.SysStatus.LastGC}}</dd>

				<dt>Total GC Pause</dt>
				<dd>{{.SysStatus.PauseTotalNs}}</dd>

				<dt>Last GC Pause</dt>
				<dd>{{.SysStatus.PauseNs}}</dd>

				<dt>GC Times</dt>
				<dd>{{.SysStatus.NumGC}}</dd>
			</dl>
		</div>
	</div>
{{end}}
